/* Order.css */
.order {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    margin-left: 15%;
    width: 70%;
    text-align: center;
    display: flex;
    justify-content: center;    
    border: 1px solid;
    transition: transform;
    transition-duration: 1s;
    
  }
  .order:hover{
    cursor: pointer;
    box-shadow: 1px 1px 10px 1px grey;
    border-radius: 10px;
    border: 1px solid;
    transform: scaleZ(1.5px);

  }
  
  .order img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .order p {
    margin: 5px 0;
  }
  
  .order-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.image{
    width: 30%;
   border-radius:10px 0px 0px 10px;
   margin-left: 1%;
}
.details{
    width: 70%;
    
  
}
.details table{
  margin-left: 30%;
  text-align: justify;
}