.homeheaderlayout-tittle{
    background-color: rgb(4, 4, 116);
    color: #ffffff;
    padding: 1rem;
    display: flex;
   justify-content: center;
   border-width: 10px;
}
.homeheaderlayout-nav-bar{
    background-color:aqua;
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
    padding: 20px;
   
}
button{
   
    padding: 10px;
   
    border-radius: 10px;
}
.header-img{
    height: 70px;
    width: 70px;
    border-radius: 35px;
    margin-left: 40px;
  }