/* Order.css */
.order {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  margin-left: 15%;
  width: 70%;
  text-align: center;
  display: flex;
  justify-content: center;    
  
}
.orders h1{
  text-align: center;
}
.order img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.order p {
  margin: 5px 0;
}

.order-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image{
  width: 30%;
 
}
.details{
  width: 70%;

}